---
layout: main.njk
title: إخلاء المسؤولية
---
<main class="flex-grow pt-16">
    <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 ">
            <div class="pt-32 pb-12 md:pt-40 md:pb-20 ">
                <div class="text-center pb-12 md:pb-16 ">
                    <h1 class="text-4xl md:text-5xl font-extrabold leading-tighter mb-6 md:mb-10"
                        data-aos="zoom-y-out">
                        إخلاء المسؤولية
                    </h1>
                    <p dir="rtl">
                        عبر استخدامك لهذا الموقع و/أو شرائك أي من الباقات الموجوده لدينا , فأنت توافق بشكل تطوعي على
                        إخلاء المسؤوليه القانونيه المنصوصه هنا في هذه الصفحه , أنت و بشكل قانوني توافق على أنك قـــرأت و
                        فهمت بشكل كامل كل ما هو موجود في الأسفل , و إذا كان لديك اي سؤال عنها , لا تتردد أبداً بالتواصل
                        معنا عبر
                        <br /><a class="text-blue-600 hover:underline"
                            href="mailto:contact@lkhibra.ma">contact@lkhibra.ma</a>
                        <br />
                        <br />
                        بدخولك لهذا الموقع و استخدامك لأحد او جميع منتجات موقع لخبرة دوت ما , فأنت توافق على كل ما في
                        هذه الصفحه و بالتالي إذا لم توافق على اي منها , فرجاء لا تستخدم الموقع او المنتجات.
                        <br />
                        <br />
                        الموقع و منتجاته هدفها تعليمي معلوماتي مفيد :<br />
                        <br />
                        المعلومات التي تجدها هنا في موقعنا , هدفها تعليمي معلوماتي لتفيدك أنت و تستخدمها لتطوير نفسك في
                        مجالات عديده , هي موجوده لتأخذها أنت و تساعد نفسك بنفسك عبرها , أنت تقر أن هذا الموقع بكل
                        العاملين فيه ليسوا مستشارين في الصحه و لسنا مدربين في علم النفس او اي مجال صحي اخر , نحن هنا
                        نمثل الشخص الداعم الذي يعطيك المعلومات و يتابع عملك فيها حتى تستطيع تطويره , نعطيك الادوات و
                        المعلومات و التعليم الصحيح و المجرب بالكامل و أنت تستخدمه.
                        <br />
                        <br />
                        لا يوجد اي ضمانات :<br />
                        <br />
                        مهمتنا هي مساعدتك و دعمك للوصول لهدفك في عملك و تطويره , و لكن نجاحك فعلاً يعتمد عليك أنت بشكل
                        رئيسي , يعتمد على تحفيزك لنفسك و معلوماتك و تطورك فيها , يعتمد على جديتك و صبرك و استمرارك في
                        العمل , المدربون لدينا هم اشخاص يعملون في هذا المجال منذ سنوات , و بالتالي لا يمكننا أبداً ضمان
                        ان تحصل على نفس النتائج التي حصلوا عليها , نتائجك ممكن تختلف , و نتائج غيرك ممكن تختلف أيضاً عن
                        نتائجك.
                        <br />
                        <br />
                        أي أمثله أو بيانات او صور حقيقيه نظهرها في موقعنا هي موجوده فقط لإظـــهار ما الذي يمكن تحقيقه
                        بالنسبة لك , لأننا حققناه , لا يمكننا تأكيد أنك ستحصل عليه ايضاً .. كما قلنا لك , هذا فعلاً
                        يعتمد عليك انت بشكل رئيسي , أنت توافق الان أننا غير مسؤولين أبداً عن نجاحك أو فشــلك لأي نتيجه
                        تريدها.
                        <br />
                        <br />
                        إفـــتراض المخـــاطر :<br />
                        <br />
                        أنت توافق على أن تستخدم حكمك و منطقك و عقلك في استخدام المعلومات الموجوده في هذا الموقع او
                        الكورسات على مسؤوليتك الشخصيه , نحن نقدم المعلومات و انت تتحمل مسؤولية كيف ستستعملها و مع اي جهه
                        و بأي كيفيه , هذه مسؤوليتك لوحدك
                        <br />
                        <br />
                        استخدم هذه المعلومات في الموقع او/و الدورات التدريبية بطريقه غير صحيحه او ليست قانونيه يحملك انت
                        لوحدك المسؤوليه و نحن لا علاقه لنا بالامر
                        <br />
                        <br />
                        إتفاقيه ضمنيه :<br />
                        <br />
                        عبر استخدام هذا الموقع و/او شراء احد منتجاته او خدماته فأنت
                        توافق ضمنياً و توقع على ما قرأته في هذه الصفحه
                        <br />
                        <br />
                        أي أســــئله :<br />
                        <br />
                        إذا كانت لديك أي اسئله فرجاء لا تتردد بمراسلتنا على
                        <br /><a class="text-blue-600 hover:underline"
                            href="mailto:contact@lkhibra.ma">contact@lkhibra.ma</a>

                    </p>
                </div>
            </div>
        </div>
    </section>
</main>