---
layout: main.njk
plugins:
    - cta
    - mask
    - cleave-phone.ma
    - swiper
---
{% set training = "Frontend" %}
{% set offers = translation[page.lang].offersFrontend %}
{% set hero = translation[page.lang].HeroFrontend %}
{% from "partials/Training/DoubleSec.njk" import DoubleSec with context %}
{% from "partials/Training/More.njk" import More with context %}
{% include "partials/cta.njk" %}
<main class="flex-grow pt-16">
    {% include "partials/fixed.njk" %}
    {% include "partials/Training/heroTraining.njk" %}
    {{ DoubleSec("IncludesFrontend","LearnFrontend","LearnFrontendContent") }}
    {% jsx "ForWho", name="ForWhoFrontend" %}
    {% jsx "TrainingContent", name="FrontendContent" %}
    {{ More("MoreFrontend") }}
    {% include "partials/closed.njk" %}
    {% jsx "FAQ", name="FAQFrontend" %}
</main>
