---
layout: main.njk
plugins:
    - cta
    - mask
    - cleave-phone.ma
    - swiper
---
{% set training = "Frontend" %}
{% set offers = translation[page.lang].offersFrontend %}
{% set hero = translation[page.lang].HeroFrontend %}
{% from "partials/Training/DoubleSec.njk" import DoubleSec with context %}
{% from "partials/Training/More.njk" import More with context %}
{% include "partials/cta.njk" %}
<main class="flex-grow pt-16">
        <!-- Fixed Button -->
<div class="fixed bottom-0 right-0 mb-6 mr-6 z-50 md:hidden">
    <a href="https://chat.whatsapp.com/Fxurpbkphnn3KGWFRIXb03"
    class="flex items-center justify-center flex-row bg-green-500 text-white px-3 py-2 rounded-lg w-fit">
        <i class="fa-brands fa-whatsapp w-4 h-4"></i>
            <p class="text-sm font-medium pr-1">
المزيد في مجموعة الواتساب
            </p>
  </a>

</div>
    {% include "partials/Training/heroTraining.njk" %}
    {{ DoubleSec("IncludesFrontend","LearnFrontend","LearnFrontendContent") }}
    {% jsx "ForWho", name="ForWhoFrontend" %}
    {% jsx "TrainingContent", name="FrontendContent" %}
    {{ More("MoreFrontend") }}
    {% include "partials/closed.njk" %}
    {% jsx "FAQ", name="FAQFrontend" %}
</main>
