---
    layout: main.njk
    title: "Lkhibra Academy"
    plugins:
        - cta
        - mask
        - cleave-phone.ma
        - swiper
---
{% include "partials/cta.njk" %}
<main class="flex-grow">
    {% include "partials/heroHome.njk" %}
    {% include "partials/whoweare.njk" %}
    {% include "partials/accomplishment.njk" %}
    {% include "partials/testimonials.njk" %}
    {% include "partials/offers.njk" %}
</main>