---
    layout: main.njk
    title: "Lkhibra Academy"
    plugins:
        - cta
        - mask
        - cleave-phone.ma
        - swiper
---
{% include "partials/cta.njk" %}
{% from "partials/Training/More.njk" import More with context %}
<main class="flex-grow">
    {% include "partials/Home/heroHome.njk" %}
    {% include "partials/Home/partners.njk" %}
    {% include "partials/accomplishment.njk" %}
    {% include "partials/Home/who.njk" %}
    {% include "partials/testimonials.njk" %}
    {{ More("MoreHome") }}
    {% include "partials/Home/ourtrainings.njk" %}
    {% include "partials/Home/certification.njk" %}
    {% include "partials/Social.njk" %}
</main>