---
layout: main.njk
---

<main class="flex-grow">


<section class=" relative max-w-6xl mx-auto px-5 sm:px-6 mb-6">
    <div class="container mx-auto flex flex-col items-center bg-white text-black-primary ">
        <div class="grid grid-cols-1 pt-16">
            <p class="text-3xl md:text-4xl font-bold ltr:text-left rtl:text-right ltr:md:text-center rtl:md:text-center mb-4 leading-tighter">
                {{ translation[page.lang].resourceHero.title | i18n }}
            </p>
            <p class="text-base md:text-xl ltr:text-left rtl:text-right ltr:md:text-center rtl:md:text-center text-gray-700 mb-4 md:max-w-3xl">{{ translation[page.lang].resourceHero.subtitle | i18n }}</p>

        </div>
    </div>
</section>

    <!-- Fixed Button -->
<div class="fixed bottom-0 right-0 mb-6 mr-6 z-50 md:hidden">
    <a href="https://chat.whatsapp.com/Fxurpbkphnn3KGWFRIXb03"
    class="flex items-center justify-center flex-row bg-green-500 text-white px-3 py-2 rounded-lg w-fit">
        <i class="fa-brands fa-whatsapp w-4 h-4"></i>
            <p class="text-sm font-medium pr-1">
المزيد في مجموعة الواتساب
            </p>
  </a>

</div>
<section class=" relative max-w-6xl mx-auto px-5 sm:px-6 mb-6">
    <div class="container mx-auto bg-white text-black-primary ">
        <!-- Grid - Resources -->
        <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            {% for resource in translation[page.lang].resourceList %}
            
            {% if resource.fr %}
                <div class=" ">          
                    {% image resource.img, resource.title, ["png","webp"], ["400px","400px"], "", {class:" object-cover bg-center bg-white h-80 w-full "} %} 
                    <div class="flex flex-col justify-center items-stretch pt-2 text-left px-2">
                            <h3 class="text-lg md:text-xl font-bold text-black-primary mb-2 ">{{ resource.title | i18n }}</h3>
                            <p class="text-base font-light text-gray-700 mb-3">{{ resource.description | i18n }}</p>
                            <a href="{{ resource.link }}" class=" bg-red-primary border border-red-primary text-white hover:bg-white hover:text-red-primary px-2 py-1 md:px-4 md:py-2 transition-colors duration-300 text-base rounded-md text-center">
                            {{ resource.cta | i18n }}</a>
                    </div>
                </div>
            {% else %}
                <div class="">          
                    {% image resource.img, resource.title, ["png","webp"], ["400px","400px"], "", {class:" object-cover bg-center bg-white h-80 w-full "} %} 
                    <div class="flex flex-col justify-center items-stretch pt-2 text-right px-2">
                            <h3 class="text-lg md:text-xl font-bold text-black-primary mb-2 ">{{ resource.title | i18n }}</h3>
                            <p class="text-base font-light text-gray-700 mb-3">{{ resource.description | i18n }}</p>
                            <a href="{{ resource.link }}" class=" bg-red-primary border border-red-primary text-white hover:bg-white hover:text-red-primary px-2 py-1 md:px-4 md:py-2 transition-colors duration-300 text-base rounded-md text-center">
                            {{ resource.cta | i18n }}</a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
    </div>
</section>

</main>
