---
layout: main.njk
plugins:
    - students
---
<main dir="ltr" class="flex-grow" x-data="$dialog">
    <section class="flex flex-col min-h-screen overflow-hidden mb-10">
        <div class="relative mx-auto max-w-screen-2xl">
            <div class="flex justify-center flex-col p-4 max-w-xl">
                <p class="font-bold md:text-2xl text-xl text-center py-2 text-gray-900" dir="rtl">
Cours pour la préparation aux examens</p>
                <div class="px-8 mx-4 lg:px-8 rounded-lg border border-gray-200 shadow-md py-4 m-2 bg-white max-w-lg">
                <p class="font-medium text-base text-left pb-5 text-gray-700">
                    {# Bienvenue chez Lkhibra !<br> #}
                 Découvrez nos sessions gratuites et payantes conçues pour renforcer vos compétences.<br>
                 Remplissez ce formulaire dès maintenant pour personnaliser votre parcours d'apprentissage. <br>
                 {# Votre succès commence ici !     #}
                </p>

                <!-- Start of the form -->
                <form method="post" class="space-y-3" id="cta-form">
                    <!-- Informations Personnelles -->
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="name">Nom Complet :</label>
                        <input type="text" name="name" id="name" x-model="name" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="phone">Numéro de téléphone :</label>
                        <input type="text" name="phone" id="phone" x-model="phone" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="email">Email :</label>
                        <input type="email" name="email" id="email" x-model="email" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>
                    <!-- Statut de l'Étudiant chez Lkhibra -->
                    <div class="mb-4">
                      <label class="mb-1 text-sm text-gray-600">Êtes-vous déjà étudiant chez Lkhibra ?</label>
                      <div class="flex space-x-2">
                        <div>
                            <input type="radio" id="studentNo" name="student" value="0" x-model="student"
                                class="form-radio focus:ring focus:ring-opacity-50 focus:ring-red-primary" checked>
                            <label for="studentNo">Non</label>
                        </div>
                        <div>
                            <input type="radio" id="studentYes" name="student" value="1" x-model="student"
                                class="form-radio focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                            <label for="studentYes">Oui</label>
                        </div>
                      </div>
                    </div>

                    <!-- Background Éducatif -->
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="faculty">Université / Faculté :</label>
                        <input type="text" name="faculty" id="faculty" x-model="faculty" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="study">Majeure / Domaine d'études :</label>
                        <input type="text" name="study" id="study" x-model="study" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>
                    
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600" for="semester">Semestre Actuel :</label>
                        <input type="text" name="semester" id="semester" x-model="semester" required
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5">
                    </div>

                    <!-- Intérêt pour le Cours -->
                    <div class="mb-4">
                        <label class="mb-1 text-sm text-gray-600">Intérêt pour le Cours :</label>
                        <div class="flex flex-col space-y-2 mt-1">
                            <div>
                                <input type="checkbox" id="algorithmique" name="algorithmique" value="1"
                                    x-model="algorithmique" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="algorithmique">Algorithmique</label>
                            </div>

                            <div>
                                <input type="checkbox" id="programmation" name="programmation" value="1"
                                    x-model="programmation" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="programmation">Programmation C</label>
                            </div>

                            <div>
                                <input type="checkbox" id="algorithmicAvancee" name="algorithmiqueAvancee" value="1"
                                    x-model="algorithmiqueAvancee" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="algorithmicAvancee">Algorithmique Avancée</label>
                            </div>

                            <div>
                                <input type="checkbox" id="systemeExploitation" name="systemeExploitation" value="1"
                                    x-model="systemeExploitation" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="systemeExploitation">Systeme d'exploitation</label>
                            </div>

                            <div>
                                <input type="checkbox" id="technologieWeb" name="technologieWeb" value="1"
                                    x-model="technologieWeb" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="technologieWeb">Technologie du Web</label>
                            </div>

                            <div>
                                <input type="checkbox" id="python" name="python" value="1"
                                    x-model="python" class="form-checkbox focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label class="text-sm text-gray-600" for="python">Python</label>
                            </div>

                            <div>
                                <input type="text" id="customOption" name="customOption" x-model="customOption" placeholder="Autre..."
                                    class="border p-1 rounded border-gray-200 text-sm mt-1">
                            </div>
                        </div>
                    </div>


                    <!-- Objectif des Sessions -->
                    <div class="mb-4">
                        <p>Ces sessions sont conçues pour vous aider à vous préparer efficacement pour vos examens. Les sessions gratuites offrent une introduction, tandis que les sessions payantes sont plus approfondies et extensives.</p>
                        <label class="mb-1 text-sm text-gray-600 mt-2">Êtes-vous intéressé(e) par des informations supplémentaires sur nos sessions payantes après avoir participé aux sessions gratuites ?</label>
                        <div class="flex space-x-2 mt-1">
                            <div>
                                <input type="radio" id="interestedNo" name="paid" value="0" x-model="paid"
                                    class="form-radio focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label for="interestedNo">Non</label>
                            </div>
                            <div>
                                <input type="radio" id="interestedYes" name="paid" value="1" x-model="paid"
                                    class="form-radio focus:ring focus:ring-opacity-50 focus:ring-red-primary">
                                <label for="interestedYes">Oui</label>
                            </div>
                        </div>                   
                    </div>
                    <!-- Submit Button -->
                    <div>
                        <button type="submit" x-cta:submit="{url: 'https://lkhibra.alwaysdata.net/students.php'}"
                            class="bg-red-primary w-full hover:bg-red-primary text-white font-semibold px-4 py-2 rounded-md">Soumettre</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Script to handle custom checkbox option -->
{# <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('customOption').addEventListener('blur', function() {
            var customOptionInput = this;
            var customOptionValue = customOptionInput.value.trim();

            if (customOptionValue) {
                if (!document.querySelector(`input[value="${customOptionValue}"]`)) {
                    var container = document.createElement('div');
                    var checkbox = document.createElement('input');
                    checkbox.type = 'text';
                    checkbox.name = 'customOption';
                    checkbox.value = customOptionValue;
                    checkbox.className = 'input focus:ring focus:ring-opacity-50 focus:ring-red-primary';
                    var label = document.createElement('label');
                    label.className = 'text-sm text-gray-600';
                    label.textContent = customOptionValue;
                    container.appendChild(checkbox);
                    container.appendChild(label);
                    customOptionInput.parentNode.insertBefore(container, customOptionInput);
                }
                customOptionInput.value = '';
            }
        });
    });
</script> #}
