---
layout: main.njk
plugins:
    - cta
    - mask
    - cleave-phone.ma
    - swiper
---
      <main class="flex-grow">
        <section class="flex flex-col min-h-screen overflow-hidden mb-10">
          <div class="relative mx-auto max-w-screen-2xl">
            <div class="flex justify-center flex-col p-4">
              <p class="font-bold md:text-2xl text-xl text-center pb-5 text-gray-800" dir="rtl">
                مرحبا بك في تدريب الخبرة فالبرمجة
              </p>
              <div class="md:mx-auto p-2 md:p-4 rounded-lg border border-gray-200 shadow-md flex justify-center items-center flex-col max-w-lg">
                <i class="fa-regular fa-check-circle text-6xl mt-2 p-2 text-center text-red-primary"></i>
                <p class="p-2 font-semibold text-lg md:text-xl text-center text-red-primary">
                  تم توصل بطلبك بنجاح
                </p>
                <p class="px-1 py-3 font-medium text-sm md:text-lg text-center text-gray-800">
                  جميع خطوات التسجيل تم إرسالها في بريدك الإلكتروني وسوف نتصل بك في أقرب وقت من أجل التأكيد
                </p>
              </div>

    <div class="flex md:space-x-2 space-y-2 space-x-0 md:flex-row flex-col justify-center items-center mt-4 ">
        <a href="https://chat.whatsapp.com/Fxurpbkphnn3KGWFRIXb03"
        class="flex items-start flex-row p-3 rounded-2xl bg-green-500 text-white w-fit">
            <i class="fa-brands fa-whatsapp w-6 h-6 p-1"></i>
            <p class="text-base font-normal">
            Group Whatsapp                  
            </p>
        </a>
        <a href="https://www.instagram.com/_u/lkhibra.ma/"
        class="flex items-start flex-row p-3 rounded-2xl bg-gradient-to-r from-pink-500 to-purple-500 text-white w-fit">
            <i class="fab fa-instagram text-white w-6 h-6 p-1"></i>
            <p class="text-base font-normal">
            Page Instagram
            </p>
        </a>
    </div>
                




            </div>
          </div>
        </section>
      </main>

