<section class="relative max-w-6xl mx-auto px-5 sm:px-6 mb-4 md:mb-0">
  {# hero section #}
  <div class="grid grid-cols-1 gap-1 lg:gap-10 md:grid-cols-2">
    {# picture #}
    <div
      class="relative h-[360px] overflow-hidden rounded-lg max-h-72 md:max-h-full p-0 md:ltr:col-start-2 md:rtl:col-start-2 row-start-1 col-start-1">
      {% image "src/assets/images/heropic55.png", "woman smilling", ["webp","png"], [600,1200], "(min-width: 780px) 720px, 518px", {class:"absolute inset-0 h-full mx-auto w-fit object-contain"} %}
    </div>
    {# texte #}
    <div
      class="flex flex-col justify-center items-center flex-shrink-0 p-2 md:p-0 md:col-start-1 md:row-start-1 row-start-2"
      dir="{{ dir }}">

      <div class="text-center rtl:lg:text-right ltr:lg:text-left self-start md:text-right">
        <h2 class="text-2xl font-bold sm:text-3xl ">{{ "HeroHome.title" | i18n }}</h2>
        <p class="mt-4 text-gray-600 text-lg mb-4 md:mb-0">{{ "HeroHome.subtitle" | i18n}}</p>
        <div class="mx-auto max-w-none" x-data >
          <a 
            class="btn text-white bg-red-primary w-full md:max-w-fit md:my-6 " 
            href="/ar/ai"
        >{{ "HeroHome.cta1" | i18n}}</a>
            {# <a href="#content"
            class="btn text-white bg-gray-900 w-full px-0 md:my-6 mr-0 md:mr-4">{{ "HeroHome.cta2" | i18n}}</a> #}
        </div>

        {# they trust us #}
        {# <div class="w-full md:max-w-fit ml-auto mt-4 md:mt-0">
          <p
            class="text-lg font-bold text-center md:text-right text-black-primary
            mt-2 mb-3 md:mt-0 p-1">
            {{ "HeroHome.theytrustus" | i18n}}
          </p>
          <div class="mx-auto grid gap-0 grid-cols-3 md:grid-cols-6">
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/enactusfsr">
              {% image "src/assets/images/logo/fsr.png", "fsr", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/lionsclubfsr">
              {% image "src/assets/images/logo/lions1.png", "Lions Club FSR", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/enactusfsjes_souissi">
              {% image "src/assets/images/logo/souissi.png", "Enactus FSJES Souissi", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/enactus_iscaer">
              {% image "src/assets/images/logo/iscae1.png", "Enactus Iscae", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/ade_encgk">
              {% image "src/assets/images/logo/encgk.png", "ADE ENCG-K", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
            <a class="flex items-center justify-center py-2 md:col-auto" href="https://www.instagram.com/robotique.fsr">
              {% image "src/assets/images/logo/robotics.png", "Robotique FSR", ["webp","png"], [70], "(min-width: 780px) 150px, (min-width: 480px) 90px, calc(24.38vw - 22px)", {class:"object-cover"}%}
            </a>
          </div>
        </div> #}
      </div>
    </div>
  </div>
  
</section>
