<div class="relative max-w-6xl mx-auto px-5 sm:px-12
">
  <div class="flex flex-col md:flex-row-reverse gap-4 md:gap-10">
    {% for item in translation[page.lang].who[1].content %}
    <div class="">
    <p class=" mb-2 md:mb-3 text-xl md:text-2xl font-bold text-gray-900 text-right">
      {{item.title | i18n}}
    </p>
    <p class=" md:mb-3 text-base md:text-lg font-normal text-gray-600 text-right">
        {{item.p | i18n}}
    </p>
    </div>
    {% endfor %}
  </div>
</div>