{# <div className='flex flex-col md:flex-row 
    relative max-w-7xl
        md:mx-auto md:justify-center'>
{# <section className="relative max-w-3xl  
        text-right py-4 px-7 mx-auto md:px-8 md:py-10 md:mx-0 bg-white lg:ml-6
">
        {/* Section header */} 
            <h2 className="font-semibold text-lg md:text-xl text-gray-900">{{ "IncludePython.title" | i18n }} </h2>
            <ul dir="rtl" className="text-gray-700 text-base md:text-lg list-inside pt-3     
            ">
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-solid fa-users-rectangle  w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[0] | i18n }} </p>
                    </div>
                </li>
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-solid fa-users w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[1] | i18n }}</p>
                    </div>
                </li>
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-solid fa-code w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[2] | i18n }}</p>
                    </div>
                </li>
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-solid fa-award w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[3] | i18n }}</p>
                    </div>
                </li>
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-brands fa-whatsapp w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[4] | i18n }}</p>
                    </div>
                </li>
                <li className=' flex items-start flex-row mb-1'>
                    <i className="fa-regular fa-file-code w-8 p-1 text-center"></i>
                    <div className=''>
                    <p>{{ item[5] | i18n }}</p>
                    </div>
                </li>
                
                
               
                
            </ul>
    </section>

    <section className="relative bg-white">
        <div className="relative max-w-6xl mx-auto px-4 md:px-0 md:mx-0">
    
            <div className="max-w-3xl mx-auto text-right py-4 px-2 sm:px-4 md:py-6 ">
              <div className=" p-3 rounded-sm border shadow-sm lg:p-5 lg:pl-28">
                <h2 className="font-bold leading-tight text-2xl md:text-3xl">{content.title} </h2>
                <ul dir="rtl" className="text-gray-700 text-base md:text-xl list-inside pt-4">
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemI.I}<br className='md:hidden'></br>{content.itemI.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemII.I}<br className='md:hidden'></br>{content.itemII.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemIII.I}<br className='md:hidden'></br>{content.itemIII.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemIV.I}<br className='md:hidden'></br>{content.itemIV.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemV.I}<br className='md:hidden'></br>{content.itemV.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemVI.I}<br className='md:hidden'></br>{content.itemVI.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemVII.I}<br className='md:hidden'></br>{content.itemVII.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemVIII.I}<br className='md:hidden'></br>{content.itemVIII.II}</p>
                        </div>
                    </li>
                    <li className=' flex items-start flex-row mb-1.5'>
                        <FontAwesomeIcon icon={faCheck} className=" px-2 py-1" />
                        <div className=''>
                        <p>{content.itemIX.I}<br className='md:hidden'></br>{content.itemIX.II}</p>
                        </div>
                    </li>
                    
                </ul>
              </div>
            </div>
        </div>
        </section>
#}

    {# </div> #}