<div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0  relative gap-5 bg-white">
  <p class="flex-grow-0 flex-shrink-0 text-3xl font-semibold text-center text-red-primary">
    أكثر الوظائف طلبًا في عام 2024
  </p>
  <div class="flex flex-col md:flex-row justify-start items-center flex-grow-0 flex-shrink-0 gap-10 py-2.5">
    <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 relative py-2.5">
      <p class="flex-grow-0 flex-shrink-0 text-4xl font-semibold text-center text-red-primary">
        22%
      </p>
      <p class="flex-grow-0 flex-shrink-0 text-xl text-center text-gray-900">
        مزيد من فرص العمل في علوم البيانات
      </p>
    </div>
    <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 relative py-2.5">
      <p class="flex-grow-0 flex-shrink-0 text-4xl font-semibold text-center text-red-primary">
        $71K
      </p>
      <p class="flex-grow-0 flex-shrink-0 text-xl text-center text-gray-900">
        الدخل المتوسط العالمي لعالم البيانات
      </p>
    </div>
    <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 relative py-2.5">
      <p class="flex-grow-0 flex-shrink-0 text-4xl font-semibold text-left text-red-primary">
        +82M
      </p>
      <p class="flex-grow-0 flex-shrink-0 text-xl text-center text-gray-900">
        علماء البيانات في الست سنوات القادمة
      </p>
    </div>
  </div>
</div>