---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd
    http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for page in collections.all %}
    {% if not page.data.hidden %}
    <url>
        <loc>{{ site.baseUrl }}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
        <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "always" }}</changefreq>
        {% if page.url == "/" %}
            <xhtml:link rel="alternate" hreflang="ar" href="{{site.baseUrl}}/" />
            <xhtml:link rel="alternate" hreflang="ar" href="{{site.baseUrl}}/ar" />
            <xhtml:link rel="alternate" hreflang="fr" href="{{site.baseUrl}}/fr" />
        {% else %}
            <xhtml:link rel="alternate" hreflang="{{page.url | lang}}" href="{{site.baseUrl}}{{page.url}}" />
            {% for item in page.url | locale_links %}
            <xhtml:link rel="alternate" hreflang="{{item.lang}}" href="{{site.baseUrl}}{{item.url}}" />
            {% endfor %}
        {% endif %}
    </url>
    {% endif %}
    {% endfor %}
</urlset>