<div class="relative max-w-6xl mx-auto py-12 px-5 sm:px-12 
">
  <div class="grid gap-6 md:gap-20 grid-cols-1 sm:grid-cols-3 md:px-6">
    {% for item in accomplishment %}
        <div class="relative p-2 border border-red-primary rounded-xl shadow-xl 
        text-center justify-self-center sm:w-full lg:w-42 min-w-42 w-full mx-8">
            <p class="text-3xl md:text-4xl font-bold text-gray-900">{{item.num}}</p>
            <p class="mt-1 mb-2 text-base md:text-lg font-medium text-gray-500">{{item.desc | i18n}}</p>
        </div>
    {% endfor %}
  </div>
</div>