<div class="relative max-w-6xl mx-auto py-12 px-5 sm:px-12 
">
  <div class="grid gap-6 md:gap-12 grid-cols-2 sm:grid-cols-4">
    {% for item in accomplishment %}
        <div class="relative p-4 border border-red-primary rounded-xl shadow-xl 
        text-center justify-self-center sm:w-full lg:w-42 min-w-42 w-full mx-8">
            <h5 class="text-3xl md:text-3xl font-bold">{{item.num}}</h5>
            <p class="mt-1 mb-2 text-base md:text-lg font-medium text-gray-500">{{item.desc | i18n}}</p>
        </div>
    {% endfor %}
  </div>
</div>