<div dir="ltr" x-data="$dialog" id="register">
    <script type="application/json">
        {{ "CTA" | i18njson | safe }}
    </script>
    <div class="dialog-overlay fixed inset-0 z-50 bg-white bg-opacity-75 transition-opacity backdrop-blur-sm"
        x-show="show" x-transition x-cloak></div>
    <div class="fixed inset-0 z-50 overflow-hidden flex items-center justify-center transform px-4 sm:px-6"
        x-show="show" x-transition x-cloak>
        <div class="dialog-content overflow-auto max-w-lg w-full max-h-full">
            <div class="px-8 mx-4 lg:px-8 rounded-lg border border-gray-200 shadow-md py-4 m-2 bg-white">
                <form class="space-y-3" id="cta-form">
                    <noscript>
                        <div class="text-center p-[10px] bg-red-600 rounded-md text-white w-full mb-[15px]">
                            {{ "nojs" | i18n }}
                        </div>
                    </noscript>
                    <div class="text-center p-[10px] bg-red-600 rounded-md text-white w-full mb-[15px]" x-cloak
                        x-show="error !== ''" x-text="error"></div>
                    <div class="">
                        <label class="mb-1 text-sm text-gray-600 flex justify-between" for="name">
                            <span>Full Name</span>
                            <span>الإسم الكامل</span>
                        </label>
                        <input maxLength="30" class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5"
                            type="text" id="name" x-model="fullName" required />
                    </div>
                    <div class=" ">
                        <label class="mb-1 text-sm text-gray-600 flex justify-between" for="phone">
                            <span>Phone</span>
                            <span>الهاتف</span>
                        </label>
                        <input type="text" name="phone" id="phone" x-mask="{phone: true,phoneRegionCode: 'ma'}"
                            class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5" x-model="phone" required />
                    </div>
                    <div class="">
                        <label class="mb-1 text-sm text-gray-600 flex justify-between" for="email">
                            <span>Email</span>
                            <span>البريد الإلكتروني</span>
                        </label>
                        <input class="rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5" type="email" id="email" x-model="email"
                            required />
                    </div>
                    <div class="">
                        <label class="mb-1 text-sm text-gray-600 flex justify-between" for="training">
                            <span>Choose the Training</span>
                            <span>اختر تدريب </span>
                        </label>
                        <select id="training"
                            class="mb-2 pr-2 rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5" x-model="training">
                            {# <option value="Frontend" selected>
                                تدريب الخبرة في تطوير الويب                            
                            </option> #}
                            <option value="LP" selected>
                                تدريب الخبرة في البرمجة                            
                            </option>
                        </select>
                    </div>
                    <div class="">
                        <label class="mb-1 text-sm text-gray-600 flex justify-between" for="offer">
                            <span>Choose the offer</span>
                            <span>اختر العرض </span>
                        </label>
                        <select id="offer" class="mb-2 pr-2 rounded-lg shadow-sm border-gray-200 w-full text-sm p-2.5" x-model="offer"
                            required>
                            <template x-for="o in options">
                                <option :value="o.value" x-text="o.text"></option>
                            </template>
                        </select>
                    </div>
                    {# <select id="contact" x-model="contact" class="hidden">
                        <option value="WA" selected></option>
                    </select> #}
                    <div class="">
                        <a class="cursor-pointer btn rounded-lg bg-black text-lg p-2.5 text-white bg-red-primary w-full flex justify-around items-center"
                            x-cta:submit="{url: 'https://lkhibra.alwaysdata.net/test.php', lead: () => {fbq('track', 'Lead')}}">
                            تسجيل
                        </a>
                    </div>
                </form>
                <section class="relative max-w-6xl text-center px-7 mx-auto sm:px-10 md:py-0 pb-4 pt-2">
                    <details class="group">
                        <summary dir="rtl" class="flex items-center justify-center cursor-pointer pt-2 px-4">
                            <p class="text-sm md:text-lg font-light md:font-medium text-gray-600 text-center">
                                هل لديك
                                <span class="text-red-primary font-medium text-sm md:text-base"> COUPON CODE </span>
                                ؟
                            </p>
                        </summary>
                        <div class="my-3 mx-auto leading-relaxed text-gray-700 max-w-sm rounded-md border border-gray-200 shadow-lg">
                            <div class="flex flex-row justify-center items-center">
                                <input type="text" placeholder="COUPON CODE" class="shrink w-full rounded-l-md"
                                    name="code" x-model="coupon" x-bind="applyCouponInput" />
                                <button type="submit" class="text-white bg-red-primary px-3 py-2 rounded-r-md" x-bind="applyCoupon">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </details>
                </section>
            </div>
        </div>
    </div>
</div>