<footer class="border-t md:mb-0 mb-16 border-gray-200">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 ">
        <div class="py-4 md:py-6">
            <div class="">
                <div class="mb-2 flex gap-4 items-center md:gap-8">
                    <a href="{{ "/" | locale_url }}" class="inline-block " aria-label="Cruip">
                    <Logo class="md:w-20 w-16" />
                    </a>
                    <a href="{{"/responsibility" | locale_url }}"
                        class="text-sm text-gray-600 hover:text-gray-900 hover:underline transition duration-150 ease-in-out">
                    {{ "Footer.Disclaimer" | i18n }}
                    </a>
                    <a href="{{"/privacy" | locale_url }}"
                        class="text-sm text-gray-600 hover:text-gray-900 hover:underline transition duration-150 ease-in-out">
                    {{ "Footer.PrivacyPolicy" | i18n }}
                    </a>
                    <a href="{{"/termsofuse" | locale_url }}"
                        class="text-sm text-gray-600 hover:text-gray-900 hover:underline transition duration-150 ease-in-out">
                    {{ "Footer.TermsOfUse" | i18n }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>