<section class="relative">
    <div class="flex flex-col items-center max-w-6xl mx-auto px-5 sm:px-6 py-8 ">
        <div class="flex flex-col w-full prose text-left max-w-max lg:max-w-2xl ">
            <div dir='rtl' class="w-full mx-auto text-center">
                <h1 class='h2 mb-4'>من نحن ؟</h1>
                <p class='text-xl font-normal'>
                    
                    نقوم بتدريب الشباب على أحدث التقنيات ووظائف المستقبل لإعدادهم للعالم المهني وتحسين فرص توظيفهم.
                    ونوفر حتى المواكبة أثناء التعلم من أجل ضمان جودة عالية في الحصص،
                

                    جميع تدريباتنا مواكبة لسوق الشغل وتتضمن مشاريع تطبيقية.
                </p>
            </div>
        </div>
    </div>
</section>